<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-6 head-up-left">
      <p>Kontakt: +48 500 500 500 | www.buty-sportowe.com</p>
    </div>
    <div class="col-sm-6 head-up-right">
      <ng-content select="[login]"></ng-content>
    </div>
  </div>
  <div class="row header-logo">
    <div class="col-sm-12">
      <h1>buty-sportowe.com</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 header-level">
      <ng-content select="[level]"></ng-content>
    </div>
  </div>
</div>
