<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h5>Lista produktów ({{filteredProducts.length}})</h5>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn-large" [routerLink]="['/cart']">Przejdź do koszyka</button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!isLoaded" class="col-sm-12">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="isLoaded" class="col-sm-12">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let elem of settings" [id]="elem.name" (click)="sortItems($event)"> {{elem.displayName}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td> {{ product.brand | firstLetterUppercase}} </td>
            <td> {{ product.name }} </td>
            <td> {{ product.typeCode | productTypeCode}} </td>
            <td> {{ product.gender | firstLetterUppercase}} </td>
            <td> {{ product.price | currency}} </td>
            <td>
              <app-add-to-cart [product]="product" #addToCart></app-add-to-cart>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
