// local variables for subtract and add buttons
$btn-white: #fff;
$btn-grey: #555;
$btn-green: #46A049;
$btn-width: 30px;
$btn-height: 30px;

$btn-background-color: $btn-white;
$btn-background-color-hover: $btn-grey;
$btn-font-color: $btn-grey;
$btn-font-color-hover: $btn-white;
$btn-border-color: $btn-grey;
